<div class="container">
  <%= link_to "Add new list", new_list_path, class: "btn btn-success col-4 text-center" %>
  <div class="col-10 m-auto text-center">
    <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list[:id]) %>
    <% end %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-4">
      <%= simple_form_for @bookmark do |f| %>
        <%= f.number_field :movie_id %>
         <%= f.number_field :list_id %>
          <%= f.input :comment %>
        <%= f.submit 'Add', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
